$teal: #03a5b6;
$teal-secondary: #04d3eaf4;
$yellow: #ffcf00;
$orange: #ffb200;
$shadow: #004ea8b9;

$times: 'Times New Roman', Times, serif;
@mixin header{
    height: 85vh;
    background-size: cover;
    padding: 0;
}


body {
    overflow-x: hidden;
}

.outline {
    border: 1px solid green;
}

.teal {
    background-color: $teal;
}

.orange {
    background-color: $orange;
}

.yellow {
    background-color: $yellow;
}

a {
    color: white;
}

a:hover {
    color: $orange;
    text-decoration: none;
}

h4 {
    color: white;
    font-weight: 600;
    text-align: center;
}

h4,
p {
    font-family: $times;
}

p {
    font-weight: 700;
}

h5 {
    font-size: medium;
}

h6 {
    color: $yellow;
    text-shadow: 1px 1px 2px $shadow,
}

h3{
    font-family: $times;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}




// Header
.navbar {
    background-color: rgba($color: $teal, $alpha: .55);
    margin-bottom: -15vh;
    height: 15vh;
}

.nav-list {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    font-weight: 700;
    color: white;
}

.active{
    color: $yellow;
}

.header-img {
    @include header;
    background-image: url(../img/theme-waterfall.jpg);
    position: relative;
}

.service-header-img{
    @include header;
    background-image: url(../img/garland-flowered.jpg);
    background-position: right;
}

.booking-header-img{
    @include header;
    background-image: url(../img/mylar-18.jpg);
    background-position: center;
}

.cluster-header-img{
    @include header;
    background-image: url(../img/cluster-mylar-yay-sq.jpg);
    background-position: center;
}

.column-header-img{
    @include header;
    background-image: url(../img/column-butterfly.jpg);
    background-position: center;
}


.arch-header-img{
    @include header;
    background-image: url(../img/archgrad.jpg);
}

.garland-header-img{
    @include header;
    background-image: url(../img/garland-pink-engagement-sq.jpg);
}

.overlay {
    background-image: linear-gradient(135deg, rgba($color: $teal, $alpha: 0.55), rgba($color: $teal, $alpha: 0.55), rgba($color: $teal, $alpha: 0.55), rgba($color: $orange, $alpha: 0.55), rgba($color: $yellow, $alpha: 0.55));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;

    p {
        font-style: italic;
        text-align: center;
        rotate: -6deg;
        color: white;
        font-size: 30px;
    }
}



h1 {

    text-shadow: 2px 2px 2px $yellow;
    color: $orange;
    font-size: 80px;
    font-style: italic;
    text-align: center;
    rotate: -6deg;
}


.service-display {
    --s: 200px;
    display: grid;
    width: var(--s);
    aspect-ratio: 1;
    border-radius: 50%;
    bottom: -80px;
    right: calc(100vh/4);
    overflow: hidden;
    border: 5px solid $teal;
    box-shadow: 0px 0px 15px 3px $shadow;

    img {
        grid-area: 1/1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        transform-origin: 50% 120.7%;
        animation: m 8s infinite cubic-bezier(.5, -0.2, .5, 1.2);
    }

    

    .third {
        animation-delay: 2s;
    }

    .second {
        animation-delay: 4s;
    }

    .first {
        animation-delay: 6s;
    }
}

.imglink{
    cursor: pointer;
}


@keyframes m {

    0%,
    3% {
        transform: rotate(0);
    }

    22%,
    27% {
        transform: rotate(-90deg);
    }

    47%,
    52% {
        transform: rotate(-180deg);
    }

    72%,
    77% {
        transform: rotate(-270deg);
    }

    98%,
    100% {
        transform: rotate(-360deg);
    }
}

// FAB
.fab {
    background-color: $teal-secondary;
    border-radius: 50%;
    height: 90px;
    aspect-ratio: 1/1;
    position: fixed;
    bottom: 60px;
    right: 50px;
    z-index: 2000;
    box-shadow: 3px 3px 10px 2px $shadow;
    color: $yellow;
    font-weight: 700;
    line-height: 1.2em;

    span {
        font-size: 22px;
        color: white;
        text-shadow: 2px 1px $orange;
    }
}


.booking-btn {
    box-shadow: 1px 1px 10px $shadow;
    color: white;
    text-shadow: 2px 1px 10px $shadow;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid $yellow;
    width: 100%;
    background-color: $teal-secondary;

    :hover {
        color: $orange;
    }
}

.btn:hover {
    color: $yellow;
}


.tiny{
    max-height: 25px;
}

/* Marquee & Footer */
.footer-ad {
    margin: 0;
    padding: 0;
    position: relative;
}

.footer-ad-headline {
    font-weight: bold;
    color: #ffb200;
    font-style: italic;
}

.footer-email{
    font-size: 10px;
}

.marquee {
    background: white;
    padding: 0.5rem;
    overflow: hidden;
    height: auto;
    width: 3550px;
    margin-bottom: 50px auto;

}

.scrolling-marquee {
    height: 100px;
    width: 2600px;

    img {
        height: 100px;
        margin-right: -5px;
        margin-right: 50px;
    }
}

.initiate-marquee {
    animation: marqueescroll 30s linear infinite
}

@keyframes marqueescroll {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -2620px;
    }
}


/* Testimonial */

.testimonial {
    height: 300px;
    width: 300px;
    bottom: 50px;
    right: 16vw;
}

.testimonial-item {
    background: $teal-secondary;
    border-radius: 15px;
    height: 230px;
    width: 200px;
    padding: 20px;
    border: 1px solid $orange;
    box-shadow: 1px 1px 5px 1px $shadow;
}

.testimonial-item p {
    text-align: right;
    color: $orange;
    text-shadow: 1px 1px 1px $shadow;
}




// Phone section
.phone {
    background-image: url(../img/phone.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 244px;
}

.phone-container {
    width: 244px;

}

video {
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 15px;
    border-radius: 15px;
    ;
}

.leaning-img-container {
    width: 225px;
    padding-top: 120px
}

.leaning-img {
    height: 400px;
    width: 225px;
}


.instagram-img {
    height: 40px;
}

.main-text {
    padding-top: 100px;

    h1 {
        font-size: 60px;
    }

    h4 {
        text-align: center;
    }

    p {
        font-weight: 800;
        font-size: 1.1em;
    }
}

.phone-leaning-container {
    max-width: 470px;
}


.scrolling-gallery-container {
    width: 100%;
    overflow: hidden;
}

.scrolling-gallery {
    height: 100px;
    width: 3550px;

    img {
        height: 100px;
        margin-right: -5px;
    }
}

.initiate-scroll {
    animation: galleryscroll 15s linear infinite
}

@keyframes galleryscroll {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -1580px;
    }
}



//Services

.service-row {
    margin: 5px 2em;
    padding: 0;

    p {
        color: white;
    }

    h6 {
        font-size: 25px;
    }
}

.service-img {
    border-radius: 50%;
    width: 100%;
    max-height: 150px;
    max-width: 150px;
}

.service-text {
    max-width: 400px;
}

.ser-yel {
    h6 {
        color: $yellow;
    }

    img {
        border: 5px solid $yellow;
    }

    a {
        color: $yellow;
    }

    a:hover {
        color: $orange;
    }

    p{
        color: black;
    }

    align-items: center;
    justify-content: center;
}

.ser-or {

    h6 {
        color: $orange;
    }

    img {
        border: 5px solid $orange;
    }

    a {
        color: $orange;
    }
    p{
        color: black;
    }
    a:hover {
        color: $yellow;
    }

    align-items: center;
    justify-content: center;
}

.ser-teal {

    h6 {
        color: $teal;
    }

    img {
        border: 5px solid $teal;
    }

    a {
        color: $teal;
    }
    p{
        color: black;
    }
    a:hover {
        color: $teal-secondary;
    }

    align-items: center;
    justify-content: center;
}



//Contact Page

.contact-header-img{
    @media (max-width: 667px){
        height: 50vh;
        background-image: url(../img/contact-mobile-header.png);
        
    }
    height: 85vh;
    background-size: cover;
    padding: 0;
    background-image: url(../img/contactHeader.jpg);
    background-position: center;
    
}

.overlay-contact {
    @media (max-width: 667px){
        height: 50vh;
    }
    background-image: linear-gradient(135deg, rgba($color: $teal, $alpha: 0.55), rgba($color: $teal, $alpha: 0.55), rgba($color: $teal, $alpha: 0.55), rgba($color: $orange, $alpha: 0.55), rgba($color: $yellow, $alpha: 0.55));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    p {
        font-style: italic;
        text-align: center;
        rotate: -6deg;
        color: white;
        font-size: 30px;
    }
}

.contact-row{
    max-width: 95%;
    margin-right: auto;
    margin-left:  auto;
}

.contact-box{
    justify-content: center;
    display: flex;
    background-image: linear-gradient(135deg, $teal-secondary, $teal);
    aspect-ratio: 1/1;
    align-items: center;
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    i{
        color: $orange;
        font-size: 60px;
    }
    h2{
        color: white;
        text-align: center;
    }
    h6{
        font-size: 20px;
    }
    h5{
        color: $yellow;
        text-shadow: 1px 1px 1px $shadow;
    }
}
.contact-box:hover{
    background-color: $teal-secondary;
    transform: scale(1.1);
    z-index: 1000;
}

.contact-form{
    margin-top: 100px;
}


// Forms

label{
    font-family: $times;
    color: $teal;
    font-weight: 600;
}

.range{
    width: 60%;
}

.rangeDisplay{
    font-size: 20px;
}

#bookingCarousel{
    max-width: 300px;
    img{
        border-radius: 15px;
    }
    border-radius: 15px;
    border: 2px solid $teal;
}

.colorPickerPopup{
    background-color: $yellow;    
}



.bookingBlurb{
    display: flex;
    flex-direction: column;
    background-color: $orange;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    h2{
        font-size: 1.5rem;
        font-family: $times;
        font-weight: bold;
        margin-top: 10px;
    }
    p{
        color: white;
    }
    
}

.sq-container{
    align-self: center;
    width: 90%;
    aspect-ratio: 1/1;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 15px;
}

.bookingBlurbImg{
    width: 100%;
    border-radius: 15px;

}

//thank you

.thankyou{
    max-width: 100%;
    max-height: 80vh;
    
}

//blog

.blog-header-img{
    @include header;
    background-image: url(../img/theme-champagne.jpg);

}

.blog-row-left{
    background-image: url(../img/arch-flowered.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    margin-top: 5px;
    div{    
        border-radius: 10px;
        background-image: linear-gradient(to left, transparent, $orange);
        p{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
.blog-row-right{
    background-image: url(../img/arch-flowered.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    margin-top: 5px;
    div{    
        border-radius: 10px;
        background-image: linear-gradient(to right, transparent, $teal);
        p{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

