body {
  overflow-x: hidden; }

.outline {
  border: 1px solid green; }

.teal {
  background-color: #03a5b6; }

.orange {
  background-color: #ffb200; }

.yellow {
  background-color: #ffcf00; }

a {
  color: white; }

a:hover {
  color: #ffb200;
  text-decoration: none; }

h4 {
  color: white;
  font-weight: 600; }

h4,
p {
  font-family: 'Times New Roman', Times, serif; }

p {
  font-weight: 700; }

h5 {
  font-size: medium; }

h6 {
  color: #ffcf00;
  text-shadow: 1px 1px 2px black; }

.navbar {
  background-color: rgba(3, 165, 182, 0.55);
  margin-bottom: -15vh;
  height: 15vh; }

.nav-list {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none; }

.nav-link {
  font-weight: 700;
  color: white; }

.active {
  color: #ffcf00; }

.header-img {
  position: relative;
  height: 85vh;
  background-size: cover;
  padding: 0;
  background-image: url(../img/theme-waterfall.jpg); }

.service-header-img {
  position: relative;
  height: 85vh;
  background-size: cover;
  padding: 0;
  background-image: url(../img/archbaby.jpg);
  background-position: center; }

.overlay {
  background-image: linear-gradient(135deg, rgba(3, 165, 182, 0.55), rgba(3, 165, 182, 0.55), rgba(3, 165, 182, 0.55), rgba(255, 178, 0, 0.55), rgba(255, 207, 0, 0.55));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh; }
  .overlay p {
    font-style: italic;
    text-align: center;
    rotate: -6deg;
    color: white;
    font-size: 30px; }

h1 {
  text-shadow: 2px 2px 2px #ffcf00;
  color: #ffb200;
  font-size: 80px;
  font-style: italic;
  text-align: center;
  rotate: -6deg; }

.service-display {
  --s: 200px;
  display: grid;
  width: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: -80px;
  right: calc(100vh/4);
  overflow: hidden;
  border: 5px solid #03a5b6;
  box-shadow: 0px 0px 15px 3px #004ea8b9; }
  .service-display img {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    animation: m 8s infinite cubic-bezier(0.5, -0.2, 0.5, 1.2);
    transform-origin: 50% 120.7%; }
  .service-display .third {
    animation-delay: 2s; }
  .service-display .second {
    animation-delay: 4s; }
  .service-display .first {
    animation-delay: 6s; }

@keyframes m {
  0%,
  3% {
    transform: rotate(0); }
  22%,
  27% {
    transform: rotate(-90deg); }
  47%,
  52% {
    transform: rotate(-180deg); }
  72%,
  77% {
    transform: rotate(-270deg); }
  98%,
  100% {
    transform: rotate(-360deg); } }

.fab {
  background-color: #02bed3f6;
  border-radius: 50%;
  height: 90px;
  aspect-ratio: 1/1;
  position: fixed;
  bottom: 60px;
  right: 50px;
  z-index: 2000;
  box-shadow: 3px 3px 10px 2px #004ea8b9;
  color: #ffcf00;
  font-weight: 700;
  line-height: 1.2em; }
  .fab span {
    font-size: 22px;
    color: white;
    text-shadow: 2px 1px #ffb200; }

.booking-btn {
  box-shadow: 1px 1px 10px #004ea8b9;
  color: white;
  text-shadow: 2px 1px 10px #004ea8b9;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid #ffcf00;
  width: 100%;
  background-color: #02bed3f6; }
  .booking-btn :hover {
    color: #ffb200; }

.btn:hover {
  color: #ffcf00; }

/* Marquee */
.footer-ad {
  margin: 0;
  padding: 0;
  position: relative; }

.footer-ad-headline {
  font-weight: bold;
  color: #ffb200;
  font-style: italic; }

.marquee {
  background: white;
  padding: 0.5rem;
  overflow: hidden;
  height: auto;
  width: 3550px;
  margin-bottom: 50px auto; }

.icon-ticker {
  animation: slide 120s linear infinite;
  display: flex;
  flex-wrap: nowrap; }

@keyframes slide {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -6500px; } }

/* Testimonial */
.testimonial {
  height: 300px;
  width: 300px;
  bottom: 50px;
  right: 16vw; }

.testimonial-item {
  background: #03a4b6f6;
  border-radius: 15px;
  height: 230px;
  width: 200px;
  padding: 20px;
  border: 1px solid #ffb200;
  box-shadow: 1px 1px 5px 1px #004ea8b9; }

.testimonial-item p {
  text-align: right; }

.phone {
  background-image: url(../img/phone.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 244px; }

.phone-container {
  width: 244px; }

iframe {
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: 15px;
  border-radius: 15px; }

.leaning-img-container {
  width: 225px;
  padding-top: 120px; }

.leaning-img {
  height: 400px;
  width: 225px; }

.instagram-img {
  height: 40px; }

.main-text {
  padding-top: 100px; }
  .main-text h1 {
    font-size: 60px; }
  .main-text h4 {
    text-align: center; }
  .main-text p {
    font-weight: 800;
    font-size: 1.1em; }

.phone-leaning-container {
  width: 470px; }

.scrolling-gallery-container {
  width: 100%;
  overflow: hidden; }

.scrolling-gallery {
  height: 100px;
  width: 3550px; }
  .scrolling-gallery img {
    height: 100px;
    margin-right: -5px; }

.initiate-scroll {
  animation: galleryscroll 15s linear infinite; }

@keyframes galleryscroll {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -1580px; } }

.service-row {
  margin: 5px 2em;
  padding: 0; }
  .service-row p {
    color: white; }
  .service-row h6 {
    font-size: 25px; }

.service-img {
  border-radius: 50%;
  width: 100%;
  max-height: 150px;
  max-width: 150px; }

.service-text {
  max-width: 400px; }

.ser-yel {
  align-items: center;
  justify-content: center; }
  .ser-yel h6 {
    color: #ffcf00; }
  .ser-yel img {
    border: 5px solid #ffcf00; }
  .ser-yel a {
    color: #ffcf00; }
  .ser-yel a:hover {
    color: #ffb200; }

.ser-or {
  text-align: right;
  align-items: center;
  justify-content: center; }
  .ser-or h6 {
    color: #ffb200; }
  .ser-or img {
    border: 5px solid #ffb200; }
  .ser-or a {
    color: #ffb200; }
  .ser-or a:hover {
    color: #ffcf00; }
